h1.title {
    color: white;
    font-size: xx-large;
    margin-bottom: .25em
}

Header {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.ant-menu-inline {
    width: auto;
}
